<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="genouest" ng-controller="genouestCtrl" class="no-js">
<!--<![endif]-->

<head>
    <base href="/manager/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{config.name}} account manager</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="/images/favicon.png" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
    <!--<link rel="stylesheet" href="bower_components/allmighty-autocomplete/style/autocomplete.css">-->

    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/app.css -->
    <link rel="stylesheet" href="styles/theme.css">
    <link rel="stylesheet" href="styles/app.css">
    <!-- endbuild -->

</head>

<body ng-cloak>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container logo-brand">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img style="width: 70px; height: 50px;" src="/images/logo-brand.png" alt="">
                        Account Manager
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right" ng-controller="userCtrl">
                        <li ng-if="is_logged" class='dropdown'>
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usage <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuUsage">
                                <li role="presentation" ng-repeat="usage in usages">
                                    <a role="menuitem" tabindex="-1" href="{{usage.link}}" target="_blank">{{usage.name}}</a>
                                </li>
                          </ul>
                        </li>
                        <li ng-if="is_logged">
                            <a href="#/tp">
                                <i class="glyphicon glyphicon-calendar"></i>
                                TP reservations
                            </a>
                        </li>
                        <li ng-if="is_logged">
                            <a href="#/user/{{user.uid}}">
                                <i class="glyphicon glyphicon-user"></i>
                                {{user.uid}}
                            </a>
                        </li>
                        <li ng-if="user.is_admin" class='dropdown'>
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#/user">Users</a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#/group">Groups</a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#/project">Projects</a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#/message">Send message</a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#/database">Databases</a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#/web">Web sites</a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#/logs">Logs</a></li>
                          </ul>
                        </li>
                        <li ng-if="is_logged">
                            <a href="" ng-click="logout()">
                                <i class="glyphicon glyphicon-off"></i>
                                Logout
                            </a>
                        </li>
                        <li ng-if="! is_logged">
                            <a href="#/login">
                                <i class="glyphicon glyphicon-user"></i>
                                Sign in
                            </a>
                        </li>
                        <li ng-if="! is_logged">
                            <a href="#/register">
                                <i class="glyphicon glyphicon-plus"></i>
                                Sign up
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
      <div id="main-view" ng-view></div>
    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/datatables.net/js/jquery.dataTables.js"></script>
    <script src="bower_components/angular-datatables/dist/angular-datatables.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/marked/lib/marked.js"></script>
    <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>
    <!--<script src="bower_components/allmighty-autocomplete/script/autocomplete.js"></script>-->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="u2f-api.js"></script>
    <script src="scripts/resources.js"></script>
    <script src="scripts/genouest.js"></script>
    <!-- endbuild -->

    <script type="text/ng-template" id="templates/deleteConfirmation.html">
        <div class="deleteConfirmation">
            <div ng-hide="isDeleting" >
                <button type="button" class="btn btn-danger btn-xs" ng-click="startDelete()"><i class="fa fa-trash-o"></i> Delete</button>
            </div>
            <div ng-show="isDeleting">
                <button type="button" class="btn btn-default btn-xs" ng-click="cancel()">Abort deletion</button>
                <button type="button" class="btn btn-danger btn-xs"  ng-click="confirm()"><i class="fa fa-trash-o"></i>Confirm</button>
            </div>
        </div>
    </script>
</body>

</html>
