
  <div class="card bg-light">
      <div class="card-header">
        <h3>Projects</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="dtProjects" datatable [dtTrigger]="dtTrigger" class="table table-striped">
            <thead><tr>
              <th>Project</th>
              <th>Owner</th>
              <th>Group</th>
              <th>Path</th>
              <th>Size (Go)</th>
              <th>Expiration</th>
            </tr></thead>
            <tbody>
              <tr *ngFor="let project of projects">
                <td (click)="show_project_users(project)" style="cursor: pointer;"><span class="label label-primary">{{project.id}}</span></td>
                <td>{{project.owner}}</td>
                <td>{{project.group}}</td>
                <td>{{project.path}}</td>
                <td>{{project.size}}</td>
                <td>{{date_convert(project.expire)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
  <hr *ngIf="selectedProject">
  <div *ngIf="selectedProject">
    <div class="well">
        <h4>Project <b>{{selectedProject.id}}</b></h4>
    </div>
    <div class="card bg-light" *ngIf="session_user.uid === selectedProject.owner">
      <div class="card-header" (click)="manager_visible=!manager_visible" style="cursor: pointer;">
        <h2>Management console</h2>
      </div>
      <div class="card-body" *ngIf="manager_visible">
        <div class="alert alert-danger" *ngIf="request_err_msg">{{request_err_msg}}</div>
        <div *ngIf="request_msg" class="alert alert-info">{{request_msg}}</div>
        <form role="form" class="user-form form-horizontal">
          <div class="form-group">
            <div class="col-sm-3">
              <label for="new_user">New project member</label>
              <input placeholder="User Genouest id" id="new_user" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="new_user" class="form-control"/>
            </div>
            <div class="col-sm-3">
              <label style="opacity: 0;">Request member</label>
              <button type="button" class="btn btn-outline-primary" (click)="request_user(selectedProject, new_user, 'add')">Request member</button>
            </div>
            <div class="col-sm-2">
              <label for="remove_user">Remove project member</label>
              <select id="remove_user"  [ngModelOptions]="{standalone: true}" [(ngModel)]="remove_user" class="form-control">
                <option *ngFor="let user of users" [value]="user">{{user.uid}}</option>
              </select>
            </div>
            <div class="col-sm-3">
              <label style="opacity: 0;">Request member removal</label>
              <button type="button" class="btn btn-outline-primary"(click)="request_user(selectedProject,remove_user,'remove')">Request member removal </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-header">
        <h3>Project overview</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td><b>Name</b>&nbsp;
                  <span class="glyphicon glyphicon-question-sign" title="Project name" tooltip> </span>
                </td>
                <td>{{selectedProject.id}}</td>
              </tr>
              <tr>
                <td><b>Owner</b>&nbsp;
                  <span class="glyphicon glyphicon-question-sign" title="Owner Genouest uid" tooltip> </span>
                </td>
                <td>{{selectedProject.owner}}</td>
              </tr>
              <tr>
                <td><b>Unix Group</b>&nbsp;
                  <span class="glyphicon glyphicon-question-sign" title="Unix group for members" tooltip></span>
                </td>
                <td>{{selectedProject.group}}</td>
              </tr>
              <tr>
                <td><b>Path</b>&nbsp;
                  <span class="glyphicon glyphicon-question-sign" title="Path to project folder" tooltip></span>
                </td>
                <td>{{selectedProject.path}}</td>
              </tr>
              <tr>
                <td><b>Size</b>&nbsp;
                  <span class="glyphicon glyphicon-question-sign" title="Storage quota" tooltip></span>
                </td>
                <td>{{selectedProject.size}} Gb</td>
              </tr>
              <tr>
                <td><b>Expiration</b>&nbsp;
                  <span class="glyphicon glyphicon-question-sign" title="Expiration date" tooltip></span>
                </td>
                <td>{{selectedProject.expire | date}}</td>
              </tr>
              <tr>
                <td><b>Financing</b>&nbsp;
                  <span class="glyphicon glyphicon-question-sign" title="Organism financing the project" tooltip></span>
                </td>
                <td>{{selectedProject.orga}}</td>
              </tr>
              <tr>
                <td><b>Write permissions</b>&nbsp;
                  <span class="glyphicon glyphicon-question-sign" data-html="true" title="Write access<br>Group : all members<br>Data manager : owner" tooltip></span>
                </td>
                <td>{{selectedProject.access}}</td>
              </tr>
              <tr>
                <td><b>Description</b>&nbsp;
                  <span class="glyphicon glyphicon-question-sign" title="Short project description" tooltip></span>
                </td>
                  <td>{{selectedProject.description}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card bg-light">
        <div class="card-header">
          <h3>Project members</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table id="dtUsers" datatable [dtTrigger]="dtTriggerUser" class="table table-striped">
              <thead>
                <tr><th>User</th><th>Email</th><th>Access</th><th>Owner</th></tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>{{user.uid}}</td>
                  <td>
                    <span *ngIf="session_user.uid === selectedProject.owner">{{user.email}}</span>
                    <span *ngIf="session_user.uid !== selectedProject.owner">Restricted to owner</span>
                  </td>
                  <td><span *ngIf="user.access">x</span></td>
                  <td><span *ngIf="user.uid === selectedProject.owner">x</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
