* * * * * root /opt/gomngr.sh /opt/my/scripts http://my:3000 >> /var/log/cron.log 2>&1
0 3 1 * * root /root/genouestaccountmanager/test_expiration.sh >> /var/log/cron.log 2>&1
0 3 2 * * root /root/genouestaccountmanager/expire.sh >> /var/log/cron.log 2>&1
0 5 * * * root cd /root/genouestaccountmanager && node /root/genouestaccountmanager/reservation_create.js >> /var/log/cron.log 2>&1
0 6 * * * root cd /root/genouestaccountmanager && node /root/genouestaccountmanager/reservation_remove.js >> /var/log/cron.log 2>&1
# empty line
