* * * * * root /opt/gomngr.sh /opt/my/scripts http://my:3000
0 3 1 * * root /root/genouestaccountmanager/test_expiration.sh
0 3 2 * * root /root/genouestaccountmanager/expire.sh 
0 5 * * * root cd /root/genouestaccountmanager && node /root/genouestaccountmanager/reservation_create.js
0 6 * * * root cd /root/genouestaccountmanager && node /root/genouestaccountmanager/reservation_remove.js
# empty line
