<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Databases</h3>
        </div>
        <div class="panel-body">
          <table datatable="ng" class="table table-striped">
            <thead>
              <th>Name</th><th>Owner</th><th>Type</th><th>Host</th>
            </thead>
            <tbody>
              <tr ng-repeat="database in databases">
                <td><h4><span class="label label-primary">{{database.name}}</span></h4></td>
                <td><a ng-href="#/user/{{database.owner}}"><h4><span class="label label-primary">{{database.owner}}</span></h4></a></td>
                <td>{{database.type}}</td>
                <td>{{database.host}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
</div>
<div class="row">
    <div class="alert alert-success" ng-if="msg">{{msg}}</div>
    <div class="alert alert-danger" ng-if="err_msg">{{err_msg}}</div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Declare existing database (no creation)</h3>
      </div>
      <div class="panel-body">
          <form role="form" data-toggle="validator" class="user-form form-horizonal">
              <div class="form-group row">
                  <div class="col-sm-2">
                      <label for="dbname" class="control-label">Database name</label>
                      <input ng-model="db_name" id="dbname" class="form-control" required/>
                  </div>
                  <div class="col-sm-2">
                      <label for="dbowner" class="control-label">Database owner</label>
                      <select ng-model="db_owner" id="dbowner" ng-options="user.uid for user in users | orderBy:'uid'" class="form-control" required></select>
                  </div>
                  <div class="col-sm-2">
                      <label for="dbtype" class="control-label">Database type</label>
                      <select id="dbtype" ng-model="db_type" class="form-control" required>
                          <option value="mysql">MySQL</option>
                          <option value="postgresql">Postgres</option>
                          <option value="mongo">Mongo</option>
                          <option value="docker">Docker</option>
                      </select>
                  </div>
                  <div class="col-sm-2">
                      <label for="dbhost" class="control-label">Database host</label>
                      <input ng-model="db_host" id="dbhost" class="form-control" required>
                  </div>
                  <div class="col-sm-1">
                      <label style="opacity: 0;" class="control-label">Create</label>
                      <button type="button" class="btn btn-default" ng-click="declare_db()">Declare DB</button>
                  </div>
              </div>
          </form>
      </div>
    </div>
</div>

<div class="row">
    <div class="alert alert-success" ng-if="chowner_msg">{{chowner_msg}}</div>
    <div class="alert alert-danger" ng-if="chowner_err_msg">{{chowner_err_msg}}</div>
      <div class="panel panel-primary">

          <div class="panel-heading">
            <h3 class="panel-title">Change database owner</h3>
          </div>
          <div class="panel-body">
              <div class="col-sm-2">
                  <label for="owner_db_name">Database type</label>
                  <select id="owner_db_name" ng-model="owner_db_name" ng-options="database.name for database in databases | orderBy:'name'" class="form-control"></select>
              </div>
              <div class="col-sm-2">
                  <label for="owner_dbhost">Database owner</label>
                  <select ng-model="owner_db_owner" id="owner_dbhost" ng-options="user.uid for user in users | orderBy:'uid'" class="form-control"></select>
              </div>
              <div class="col-sm-1">
                  <label style="opacity: 0;">Modify</label>
                  <button type="button" class="btn btn-default" ng-click="change_owner()" class="form-control">Modify</button>
              </div>
          </div>
    </div>
</div>
