<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Group creation</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-info">Group creation can require a few minutes to be effective</div>
            <div class="alert alert-success" ng-if="success_msg">{{success_msg}}</div>
            <div class="alert alert-danger" ng-if="err_msg">{{err_msg}}</div>
            <form role="form" class="user-form form-inline">
              <div class="form-group">
                <input placeholder="Group name" type="text" ng-model="new_group" class="form-control"/>
              </div>
              <div class="form-group">
                <input placeholder="Owner" type="text" ng-model="new_group_user_id" class="form-control"/>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-default" ng-click="add_group()">Create</button>
              </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Groups</h3>
        </div>
        <div class="panel-body">
             <div class="table-responsive">
              <table datatable="ng" class="table table-striped">
                <thead>
                  <th>Group</th>
                  <th>gid</th>
                  <th>owner</th>
                </thead>
                <tbody>
                  <tr ng-repeat="group in groups">
                    <td ng-click="show_group_users(group)" style="cursor: pointer;"><h4><span class="label label-primary">{{group.name}}</span></h4></td>
                    <td>{{group.gid}}</td>
                    <td>{{group.owner}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
<div class="row">
    <div class="alert alert-success" ng-if="rm_grp_msg_ok">{{rm_grp_msg_ok}}</div>
</div>
<div class="row" ng-if="selectedGroup">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Users in group {{selectedGroup.name}}</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-danger" ng-if="rm_grp_err_msg">{{rm_grp_err_msg}}</div>
            <div class="alert alert-info" ng-if="msg">{{msg}}</div>
            <form role="form" class="user-form form-horizontal form-register">
              <div class="form-group">
                  <label for="group_id" class="col-sm-2 col-form-label">Owner</label>
                  <div class="col-sm-3">
                      <input placeholder="Owner" id="group_id" type="text" ng-model="selectedGroup.owner" class="form-control"></input>
                  </div>
                  <button type="button" class="btn btn-default" ng-click="update_group()">Update</button>
              </div>
              <div class="form-group">

              </div>
            </form>
            <h5>Projects associated with this group :</h5>
            <div class="table">
                <table class="table table-striped">
                  <thead>
                    <th>Project</th><th>Owner</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="project in projects">
                      <td>{{project.id}}</td>
                      <td>{{project.owner}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <br>
            <h5>Group members</h5>
            <div class="table-responsive">
                <table datatable="ng" class="table table-striped">
                  <thead>
                    <th>User</th><th>Email</th><th>In associated project?</th><th>Main group?</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="user in users">
                      <td><a ng-href="#/user/{{user.uid}}"><h4><span class="label label-primary">{{user.uid}}</span></h4></a></td>
                      <td>{{user.email}}</td>
                      <td><span ng-if="user.authorized">&#10003</span></td>
                      <td><span ng-if="user.group == selectedGroup.name">&#10003</span></td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <button class="btn btn-danger" ng-click="delete_group(selectedGroup)">Delete</button>
        </div>
    </div>
</div>
