<div class="loginform">
    <div class="row">
            <img class="profile-img" src="/images/logo_GenOuest_74x60.png" alt=""/>
            <h1 class="text-center login-title"><b>Sign in to access your account</b></h1>
            <!-- <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
            alt="">
        -->
        <div ng-if="! double_auth">
            <form class="form-signin form-group">
                <div class="form-group">
                    <input ng-model="$parent.userid" id="sign_user_id" type="text" class="form-control" placeholder="User id" required autofocus>
                </div>
                <div class="form-group">
                    <input ng-model="$parent.password" id="sign_password" type="password" placeholder="Password" class="form-control" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="auth()">
                        Sign in</button>
                    </div>
                    <div class="alert alert-warning" ng-if="msg">{{msg}}</div>
                    <div class="form-group">
                        <span class="lost">Lost your password?</span><a href ng-click="password_reset_request()">RESET</a>
                    </div>
                </form>
            </div>
            <div ng-if="double_auth">
                <form class="form-signin">
                    <div class="alert alert-warning">Double authentication is needed for admin access!!</div>
                    <hr>
                    <div class="alert alert-info"><div class="glyphicon glyphicon-save"></div> Insert your u2f device and press device</div>
                    <h4 class="text-center login-title"><b>or</b></h4>
                    <div class="alert alert-info"><div class="glyphicon glyphicon-envelope"></div> Request a temporary email token</div>
                    <div class="alert alert-success" ng-if="msg">{{msg}}</div>
                    <div class="alert alert-danger" ng-if="error_msg">{{error_msg}}</div>
                    <div class="row">
                        <div class="col-md-4">
                                <button type="button" class="btn btn-primary" ng-click="request_email_token()">Request</button>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input ng-model="$parent.mail_token" type="text" class="form-control" placeholder="Token received" autofocus/>
                            </div>
                        </div>
                    </div>
                    <button ng-if="$parent.mail_token" type="button" class="btn btn-primary btn-block btn-lg" ng-click="validate_email_token()">Check token</button>
                </form>
            </div>

    </div>
    <div class="form-signin">
        <hr>
    </div>
    <div ng-if="! double_auth" class="row">
            <h1 class="text-center login-title"><b>or</b></h1>
            <form class="form-signin">
                <a href="#/register" class="btn btn-primary btn-lg btn-block">Create an account</a>
            </form>
    </div>
</div>
