<div class="row">
  <div class="well ng-scope">
    <div class="row">
      <div class="col-sm-9">
        <h4>Project <b>{{project.id}}</b></h4>
      </div>
      <div class="col-sm-3" >
        <button class="btn btn-danger" ng-click="delete_project(project, users)">Delete project</button>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">Update project</div>
    <div class="panel-body">
      <div class="alert alert-danger" ng-if="prj_err_msg">{{prj_err_msg}}</div>
      <div class="alert alert-info" ng-if="prj_msg">{{prj_msg}}</div>
      <form role="form" class="user-form form-horizontal form-register">
        <div class="form-group row">
          <div class="col-sm-2">
            <label for="update_project_owner">Owner</label>
            <select id="update_project_owner" ng-model="project.owner" ng-options="user.uid as user.uid for user in users" class="form-control"/>
          </div>
          <div class="col-sm-2">
            <label for="update_project_group">Group</label>
            <select id="update_project_group" ng-model="project.group" ng-options="group.name as group.name for group in groups | orderBy:'name'" class="form-control"/>
          </div>
          <div class="col-sm-2">
            <label for="update_project_size">Size (GB)</label>
            <input id="update_project_size" type="text" ng-model="project.size" class="form-control"/>
          </div>
          <div class="col-sm-2">
            <label for="update_project_exp">Expiration date</label>
            <input type="date" id="update_project_exp" type="text" ng-model="project.expire" class="form-control"/>
          </div>
          <div class="col-sm-2">
            <label >Financing</label>
            <input type="text" id="update_project_orga" ng-model="project.orga" class="form-control"/>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label for="project_description">Description</label>
            <textarea rows="2" id="project_description" ng-model="project.description" class="form-control"/>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2">
          <label >Write permission&nbsp;
            <span class="glyphicon glyphicon-question-sign" data-html="true" title="Write access<br>Group : all members<br>Data manager : owner" tooltip </span>
          </label>
          <select id="project_access" ng-model="project.access" class="form-control">
              <option value="Group">Group</option>
              <option value="Data manager">Data manager</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label for="update_project_path">Path to project</label>
            <input type="text" id="update_project_path" ng-model="project.path" class="form-control"/>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2">
            <label style="opacity: 0;">Update project</label>
            <button type="button" class="btn btn-success" ng-click="update_project(project)">Update project</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">User management</div>
    <div class="panel-body">
      <form role="form" class="user-form form-horizontal form-register">
        <div ng-if="admin_user_msg" class="alert alert-success">{{admin_user_msg}}</div>
        <div ng-if="admin_user_err_msg" class="alert alert-danger">{{admin_user_err_msg}}</div>
        <div class="form-group row">
          <div class="col-sm-3">
            <label for="new_user_admin"">New project member</label>
            <input placeholder="User Genouest id" id="new_user_admin" type="text" ng-model="new_user_admin" class="form-control"></input>
          </div>
          <div class="col-sm-3">
            <label style="opacity: 0;">Add member</label>
            <button type="button" class="btn btn-success" ng-click="add_user(project, new_user_admin)">Add member</button>
          </div>
          <div class="col-sm-2">
            <label for="remove_user_admin">Remove project member</label>
            <select id="remove_user_admin"  ng-model="remove_user_admin" ng-options="user.uid as user.uid for user in users" class="form-control"/>
          </div>
          <div class="col-sm-3">
            <label style="opacity: 0;">Remove member</label>
            <button type="button" class="btn btn-danger" ng-click="remove_user(project,remove_user_admin)">Remove member</button>
          </div>
        </div>
      </form>
      <div class="table-responsive">
        <table datatable="ng" class="table table-striped">
          <thead>
            <th>User</th><th>Email</th><th>Access</th><th>Owner</th>
          </thead>
          <tbody>
            <tr ng-repeat="user in users">
              <td>{{user.uid}}</td>
              <td>{{user.mail}}</td>
              <td><span ng-if="user.access">&#10003</span></td>
              <td><span ng-if="user.uid === project.owner">&#10003</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
