<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Projects</h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table datatable="ng" class="table table-striped">
          <thead>
            <th>Project</th>
            <th>Owner</th>
            <th>Group</th>
            <th>Path</th>
            <th>Size (Go)</th>
            <th>Expiration</th>
          </thead>
          <tbody>
            <tr ng-repeat="project in projects">
              <td ng-click="show_project_users(project)" style="cursor: pointer;"><h4><span class="label label-primary">{{project.id}}</span></h4></td>
              <td>{{project.owner}}</td>
              <td>{{project.group}}</td>
              <td>{{project.path}}</td>
              <td>{{project.size}}</td>
              <td>{{project.expire | date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<hr ng-if="selectedProject">
<div class="row" ng-if="selectedProject">
  <div class="well ng-scope">
      <h4>Project <b>{{selectedProject.id}}</b></h4>
  </div>
  <div class="panel panel-default" ng-if="session_user.uid === selectedProject.owner">
    <div class="panel-heading" ng-click="manager_visible=!manager_visible" style="cursor: pointer;">
      <h2 class="panel-title">Management console</h2>
    </div>
    <div class="panel-body" ng-if="manager_visible">
      <div class="alert alert-danger" ng-if="request_err_msg">{{request_err_msg}}</div>
      <div ng-if="request_msg" class="alert alert-info">{{request_msg}}</div>
      <form role="form" class="user-form form-horizontal">
        <div class="form-group">
          <div class="col-sm-3">
            <label for="new_user">New project member</label>
            <input placeholder="User Genouest id" id="new_user" type="text" ng-model="new_user" class="form-control"></input>
          </div>
          <div class="col-sm-3">
            <label style="opacity: 0;">Request member</label>
            <button type="button" class="btn btn-default" ng-click="request_user(selectedProject,new_user,'add')">Request member</button>
          </div>
          <div class="col-sm-2">
            <label for="remove_user">Remove project member</label>
            <select id="remove_user"  ng-model="remove_user" ng-options="user.uid as user.uid for user in users" class="form-control"/>
          </div>
          <div class="col-sm-3">
            <label style="opacity: 0;">Request member removal</label>
            <button type="button" class="btn btn-default" ng-click="request_user(selectedProject,remove_user,'remove')">Request member removal </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Project overview</h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td><b>Name</b></td>
              <td>{{selectedProject.id}}</td>
            </tr>
            <tr>
              <td><b>Owner</b></td>
              <td>{{selectedProject.owner}}</td>
            </tr>
            <tr>
              <td><b>Unix Group</b></td>
              <td>{{selectedProject.group}}</td>
            </tr>
            <tr>
              <td><b>Path</b></td>
              <td>{{selectedProject.path}}</td>
            </tr>
            <tr>
              <td><b>Size</b></td>
              <td>{{selectedProject.size}} Gb</td>
            </tr>
            <tr>
              <td><b>Expiration</b></td>
              <td>{{selectedProject.expire | date}}</td>
            </tr>
            <tr>
              <td><b>Financing</b></td>
              <td>{{selectedProject.orga}}</td>
            </tr>
            <tr>
              <td><b>Write permissions</b></td>
              <td>{{selectedProject.access}}</td>
            </tr>
            <tr>
              <td><b>Description</td>
                <td>{{selectedProject.description}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Project members</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table datatable="ng" class="table table-striped">
            <thead>
              <th>User</th><th>Email</th><th>Access</th><th>Owner</th>
            </thead>
            <tbody>
              <tr ng-repeat="user in users">
                <td>{{user.uid}}</td>
                <td>
                  <span ng-if="session_user.uid === selectedProject.owner">{{user.mail}}</span>
                  <span ng-if="session_user.uid !== selectedProject.owner">Restricted to owner</span>
                </td>
                <td><span ng-if="user.access">&#10003</span></td>
                <td><span ng-if="user.uid === selectedProject.owner">&#10003</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
