<div class="row">
    <div class="col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Pending email approval</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table datatable="ng" class="table table-striped">
                        <thead>
                            <th>UID</th><th>Uid number</th><th>Email</th><!--th>Status</th--><th>Expiration</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users | filter: { 'status': STATUS_PENDING_EMAIL}">
                                <td><a ng-href="#/user/{{user.uid}}"><h4><span class="label label-warning">{{user.uid}}</span></h4></a></td>
                                <td>{{user.uidnumber}}</td>
                                <td>{{user.email}}</td>
                                <!--td>{{user.status}}</td-->
                                <td>{{date_convert(user.expiration)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Pending admin approval</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table datatable="ng" class="table table-striped">
                        <thead>
                            <th>UID</th><th>Uid number</th><th>Email</th><!--th>Status</th--><th>Expiration</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users | filter: { 'status': STATUS_PENDING_APPROVAL}">
                                <td><a ng-href="#/user/{{user.uid}}"><h4><span class="label label-warning">{{user.uid}}</span></h4></a></td>
                                <td>{{user.uidnumber}}</td>
                                <td>{{user.email}}</td>
                                <!--td>{{user.status}}</td-->
                                <td>{{date_convert(user.expiration)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Active</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table datatable="ng" class="table table-striped">
                    <thead>
                        <th>UID</th><th>Uid number</th><th>Email</th><!--th>Status</th--><th>Expiration</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users | filter: { 'status': STATUS_ACTIVE}">
                            <td><a ng-href="#/user/{{user.uid}}"><h4><span class="label label-primary">{{user.uid}}</span></h4></a></td>
                            <td>{{user.uidnumber}}</td>
                            <td>{{user.email}}</td>
                            <!--td>{{user.status}}</td-->
                            <td>{{date_convert(user.expiration)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  <div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Expired</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table datatable="ng" class="table table-striped">
                    <thead>
                        <th>UID</th><th>Uid number</th><th>Email</th><!--th>Status</th--><th>Expiration</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users | filter: { 'status': STATUS_EXPIRED}">
                            <td><a ng-href="#/user/{{user.uid}}"><h4><span class="label label-danger">{{user.uid}}</span></h4></a></td>
                            <td>{{user.uidnumber}}</td>
                            <td>{{user.email}}</td>
                            <!--td>{{user.status}}</td-->
                            <td>{{date_convert(user.expiration)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>
