<div class="well">
    <div class="row">
        <div class="col-sm-6">
            <h2><b>{{user.uid}}</b>
            <small ng-if="subscribed" class="glyphicon glyphicon-envelope" title="The user is subscribed to the newletters" style="color:green"></small>
            <small ng-if="! subscribed" class="glyphicon glyphicon-envelope" title="The user is not subscribed to the newletters" style="color:red"></small>
             -
             <small>Expires: {{date_convert(user.expiration)}}</small></h2>
            <div>Support available at <a href="mailto:{{config.support}}">{{config.support}}</a></div>
        </div>
        <div class="col-sm-6">
            <button ng-if="session_user.is_admin && (user.status == STATUS_PENDING_APPROVAL || user.status == STATUS_PENDING_EMAIL)" class="btn btn-success" ng-click="activate()">Activate</button>
            <button ng-if="session_user.is_admin && (user.status == STATUS_PENDING_APPROVAL || user.status == STATUS_PENDING_EMAIL)" class="btn" confirm-delete on-confirm="delete()"></button>
            <button ng-if="session_user.is_admin && user.status == STATUS_ACTIVE" class="btn btn-warning" ng-click="expire()">Expire</button>
            <button ng-if="user.status == STATUS_ACTIVE" class="btn btn-success" ng-click="extend()">Extend validity</button>
            <button ng-if="session_user.is_admin && user.status == STATUS_EXPIRED" class="btn btn-success" ng-click="renew()">Renew</button>
            <button ng-if="session_user.is_admin && user.status == STATUS_EXPIRED" class="btn" confirm-delete on-confirm="delete()"></button>
        </div>
    </div>
</div>
<div ng-repeat="template in plugins">
    <div ng-if="plugin_data[template.name].warnings && plugin_data[template.name].warnings.length>0" class="alert alert-warning">
        <div ng-repeat="warning in plugin_data[template.name].warnings">
            <strong>Warning!</strong> {{warning}}
        </div>
    </div>
    <div ng-if="plugin_data[template.name].errors && plugin_data[template.name].errors.length>0" class="alert alert-danger">
        <div ng-repeat="error in plugin_data[template.name].errors">
            <strong>Alert!</strong> {{error}}
        </div>
    </div>
</div>
<div class="alert alert-success" role="alert" ng-if="msg">{{msg}}</div>
<div class="alert alert-warning" role="alert" ng-if="del_msg">{{del_msg}}</div>
<div class="alert alert-danger" role="alert" ng-if="err_msg">{{err_msg}}</div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Information</h3>
            </div>
            <div class="panel-body">
                <div class="user-information">
                    <form role="form" class="user-form form-horizontal form-register">
                        <div class="form-group row">
                            <label for="firstname" class="col-sm-2 col-form-label">First name</label>
                            <div class="col-sm-6">
                                <input type="text" id="firstname" ng-model="user.firstname" class="form-control"></input>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastname" class="col-sm-2 col-form-label">Last name</label>
                            <div class="col-sm-6">
                                <input type="text" id="lastname" ng-model="user.lastname" class="form-control"></input>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label label-control">Email</label>
                            <div class="col-sm-6">
                                <input type="email" id="email" ng-model="user.email" class="form-control"></input>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="address" class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-6">
                                <textarea id="address" ng-model="user.address" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="why" class="col-sm-2 col-form-label">Why</label>
                            <div class="col-sm-6">
                                <textarea id="why" ng-model="user.why" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lab" class="col-sm-2 col-form-label">Laboratory</label>
                            <div class="col-sm-6">
                                <input type="text" id="lab" ng-model="user.lab" class="form-control"></input>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="responsible" class="col-sm-2 col-form-label">Responsible</label>
                            <div class="col-sm-6">
                                <input type="text" id="responsible" ng-model="user.responsible" class="form-control"></input>
                            </div>
                        </div>
                        <div ng-if="session_user.is_admin">
                            <div class="form-group">
                                <label for="key" class="col-sm-2 col-form-label">Key</label>
                                <div class="col-sm-6">
                                    <input type="text" id="key" ng-model="user.regkey" class="form-control" readonly></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="group" class="col-sm-2 col-form-label">Group</label>
                                <div class="col-sm-6">
                                    <input disabled type="text" ng-model="user.group" class="form-control"/>
                                    <select ng-model="user.group" class="form-control">
                                        <option ng-repeat="group in groups| orderBy:'name'">{{group.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="mgroup" class="col-sm-2 col-form-label">Main group directory</label>
                                <div class="col-sm-6">
                                    <select id="mgroup" ng-model="user.maingroup" ng-options="item for item in maingroups" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label ng-if="user.secondarygroups.length > 0" label for="sgroup" class="col-sm-2 col-form-label">Secondary groups</label>
                                <div class="col-sm-6">
                                    <div ng-repeat="secondarygroup in user.secondarygroups| orderBy:'name'">
                                        <input type="text" id="group" ng-model="secondarygroup" class="form-control" readonly></input>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="ip" class="col-sm-2 col-form-label">IP address</label>
                                <div class="col-sm-6">
                                    <input type="text" id="ip" ng-model="user.ip" class="form-control"></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="loginShell" class="col-sm-2 col-form-label">Shell</label>
                                <div class="col-sm-6">
                                    <input type="text" id="loginShell" ng-model="user.loginShell" class="form-control"></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="duration" class="col-sm-2 col-form-label">Duration</label>
                                <div class="col-sm-6">
                                    <select ng-model="user.duration" class="form-control" >
                                        <option value="90">3 months</option>
                                        <option value="180">6 months</option>
                                        <option value="365">1 year</option>
                                        <option value="730">2 years</option>
                                        <option value="1095">3 years</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input ng-model="user.is_genouest" type="checkbox" class="form-check-input">
                                    Staff member
                                </label>
                            </div>
                            <div class="form-check">
                                <label>
                                    <input ng-model="user.is_fake" type="checkbox" class="form-check-input">
                                    Fake/internal account
                                </label>
                            </div>
                            <div class="form-check">
                                <label>
                                    <input ng-model="user.is_trainer" type="checkbox" class="form-check-input">
                                    Trainer account
                                </label>
                            </div>
                        </div>

                        <div ng-if="! session_user.is_admin">
                            <div class="form-group">
                                <label for="group" class="col-sm-2 col-form-label">Group</label>
                                <div class="col-sm-6">
                                    <input type="text" id="group" ng-model="user.group" class="form-control" readonly></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label ng-if="user.secondarygroups.length > 0" label for="sgroup" class="col-sm-2 col-form-label">Secondary groups</label>
                                <div class="col-sm-6">
                                    <div ng-repeat="secondarygroup in user.secondarygroups| orderBy:'name'">
                                        <input type="text" id="group" ng-model="secondarygroup" class="form-control" readonly></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="alert alert-success" role="alert" ng-if="update_msg">{{update_msg}}</div>
                <div class="alert alert-danger" role="alert" ng-if="update_error_msg">{{update_error_msg}}</div>
                <button type="button" class="btn btn-default pull-right" ng-click="update_info()">Update info</button>
            </div>

        </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">History</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <th>Date</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="hist in events | orderBy:'date':true">
                                    <td>{{date_convert(hist.date)}}</td>
                                    <td>{{hist.action}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
        </div>

    </div>
    <div class="col-sm-6">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Authentication</h3>
            </div>
            <div class="panel-body">
                <span ng-if="user.u2f.publicKey" class="label label-success"><span class="glyphicon glyphicon-ok"> </span> U2F</span>
                <button ng-if="! user.u2f.publicKey" class="btn btn-default" ng-click="register_u2f()">Register U2F key</button>
                <span ng-if="u2f">{{u2f}}</span>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">API Key</h3>
            </div>
            <div class="panel-body">
                <span>{{apikey}}</span>
                <button class="btn btn-default" ng-click="generate_apikey(user.uid)">Generate</button>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Home directory</h3>
            </div>
            <div class="panel-body">
                <span>{{user.home}}</span>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">SSH keys</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-info" role="alert">
                    When generating a key, public key is automatically added to authorized keys, process takes one minute
                </div>
                <div ng-if="new_key_message" class="alert alert-success">{{new_key_message}}</div>
                <button class="btn btn-default" ng-click="ssh_new_key()">Generate new key</button>
                <hr/>
                <h4 style="font-weight: normal;">Download</h4>
                <a ng-href="/ssh/{{user.uid}}/private" target="_blank"><button class="btn btn-default">private rsa key</button></a>
                <a ng-href="/ssh/{{user.uid}}/putty" target="_blank"><button class="btn btn-default">putty private key</button></a>
                <a ng-href="/ssh/{{user.uid}}/public" target="_blank"><button class="btn btn-default">public key</button></a>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Update password</h3>
            </div>
            <div class="panel-body">
                <div ng-if="update_passwd" class="alert alert-success">{{update_passwd}}</div>
                <div ng-if="wrong_confirm_passwd" class="alert alert-danger">{{wrong_confirm_passwd}}</div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label for="password" class="col-form-label">New password</label>
                        <input placeholder="10 characters min" id="password" type="password" ng-model="password1" class="form-control"/>
                    </div>
                    <div class="col-sm-4">
                        <label for="confirm_password" class="col-form-label">Confirm password</label>
                        <input placeholder="10 characters min" id="confirm_password" type="password" ng-model="password2" class="form-control"/>
                    </div>
                </div>
                <button type="button" class="btn btn-default" ng-click="update_password()">Change password</button>
            </div>
        </div>
        <div class="panel panel-primary" ng-if="session_user.is_admin">
            <div class="panel-heading">
                <h3 class="panel-title">Secondary groups</h3>
            </div>
            <div class="panel-body">
                <div ng-if="add_group_msg" class="alert alert-success alert-dismissible" role="alert">
                    {{add_group_msg}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div ng-if="rm_group_msg" class="alert alert-warning alert-dismissible" role="alert">
                    {{rm_group_msg}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="newgroup" class="col-form-label">Groups</label>
                        <select id="newgroup" ng-model="user.newgroup" class="form-control">
                            <option ng-repeat="group in groups| orderBy:'name'">{{group.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" ng-click="add_secondary_group()">Add to group</button>
                </div>
                <hr/>
                <div class="table-responsive">
                    <table ng-if="user.secondarygroups.length > 0" class="table table-striped">
                        <thead>
                            <th>Name</th><th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="secondarygroup in user.secondarygroups| orderBy:'name'">
                                <td>{{secondarygroup}}</td>
                                <td><div confirm-delete on-confirm="delete_secondary_group(secondarygroup)"></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-primary" ng-if="session_user.is_admin">
            <div class="panel-heading">
                <h3 class="panel-title">Projects</h3>
            </div>
            <div class="panel-body">
                <div ng-if="add_to_project_msg" class="alert alert-success alert-dismissible" role="alert">
                    {{add_to_project_msg}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div ng-if="add_to_project_grp_msg" class="alert alert-success alert-dismissible" role="alert">
                    {{add_to_project_grp_msg}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div ng-if="add_to_project_error_msg" class="alert alert-warning alert-dismissible" role="alert">
                    {{add_to_project_error_msg}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div ng-if="remove_from_project_msg" class="alert alert-success alert-dismissible" role="alert">
                    {{remove_from_project_msg}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div ng-if="remove_from_project_error_msg" class="alert alert-warning alert-dismissible" role="alert">
                    {{remove_from_project_error_msg}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="newproject" class="col-form-label">Projects</label>
                        <select id="newproject" ng-model="user.newproject" ng-options="project as project.id for project in projects" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" ng-click="add_to_project()">Add to project</button>
                </div>
                <hr/>
                <div class="table-responsive">
                    <table ng-if="user_projects.length > 0" class="table table-striped">
                        <thead>
                            <th>Name</th>
                            <th>Group</th>
                            <th>Owner?</th>
                            <th>User in group?</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="project in user_projects">
                                <td>{{project.id}}</td>
                                <td>{{project.group}}</td>
                                <td><span ng-if="project.owner">&#x2714</span></td>
                                <td><span ng-if="project.member">&#x2714</span></td>
                                <td><div confirm-delete on-confirm="remove_from_project(project.id)"></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Add public SSH key</h3>
            </div>
            <div class="panel-body">
                <div ng-if="ssh_message" class="alert alert-success alert-dismissible" role="alert">
                    {{ssh_message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div>
                    <form role="form" class="user-form form-inline">
                        <div class="form-group">
                            <input placeholder="SSH public key (one line)" type="text" ng-model="user.ssh" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" ng-click="update_ssh()">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Databases</h3>
            </div>
            <div class="panel-body">
                    <div ng-if="dbmsg" class="alert alert-info alert-dismissible" role="alert">
                        {{dbmsg}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                     </div>
                     <div ng-if="dbmsg_error" class="alert alert-danger alert-dismissible" role="alert">
                         {{dbmsg_error}}
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                           </button>
                      </div>
                    <div ng-if="rm_dbmsg" class="alert alert-warning alert-dismissible" role="alert">
                        {{rm_dbmsg}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="form-group row">
                          <div class="col-sm-6">
                            <label for="database">Database name</label>
                            <input placeholder="no space or accent" type="text" ng-model="database" id='database'class="form-control"/>
                          </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" ng-click="database_add()">Create</button>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table ng-if="databases.length > 0" class="table table-striped">
                            <thead>
                                <th>Name</th><th></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="db in databases">
                                    <td>{{db.name}}</td>
                                    <td><div confirm-delete on-confirm="database_delete(db.name)"></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Web sites</h3>
            </div>
            <div class="panel-body">
                <div ng-show="session_user.is_admin">
                    <div ng-if="webmsg" class="alert alert-success alert-dismissible" role="alert">
                        {{webmsg}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div ng-if="rmwebmsg" class="alert alert-warning alert-dismissible" role="alert">
                          {{rmwebmsg}}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="website">Web site name</label>
                            <input placeholder="no space" id="website" type="text" class="form-control" ng-model="website"/>
                            <label for="website_url">Web site url</label>
                            <input type="text" id="website_url" class="form-control" ng-model="website_url"/>
                            <label for="website_description">Web site short description</label>
                            <input id="website_description" type="text" class="form-control" ng-model="website_description"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default" ng-click="web_add()">Create</button>
                    </div>
                </div>
                <div>
                    <hr/>
                    <div class="table-responsive">
                        <table ng-if="websites.length > 0" class="table table-striped">
                            <thead>
                                <th>Name</th><th>Url</th><th>Description</th><th></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="site in websites">
                                    <td>{{site.name}}</td>
                                    <td>{{site.url}}</td>
                                    <td>{{site.description}}</td>
                                    <td><div confirm-delete on-confirm="web_delete(site.name)"></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="template in plugins">
            <div ng-if="!template.admin_only || session_user.is_admin" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{template.display_name}}</h3>
                </div>
                <div class="panel-body">
                    <div ng-if="plugin_data[template.name].alert" class="alert alert-warning">
                        <strong>Warning!</strong> {{plugin_data[template.name].alert}}
                    </div>
                    <ng-include src="template.url"></ng-include>
                </div>
            </div>
        </div>

    </div>
</div>
