
<div class="row">
    <div class="label label-primary">{{msg}}</div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Change web site owner</h3>
      </div>
      <div class="panel-body">
          <div class='table-responsive'>
              <table datatable="ng" class="table table-striped">
                <thead>
                  <th>Name</th>
                  <th>Owner</th>
                  <th>URL</th>
                  <th>Description</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr ng-repeat="web in websites">
                    <td><h4><span class="label label-primary">{{web.name}}</span></h4></td>
                    <td><a ng-href="#/user/{{web.owner}}"><h4><span class="label label-primary">{{web.owner}}</span></h4></a></td>
                    <td>{{web.url}}</td>
                    <td>{{web.description}}</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>
</div>


<div class="row">
    <div class="alert alert-success" ng-if="chowner_msg">{{chowner_msg}}</div>
    <div class="alert alert-danger" ng-if="chowner_err_msg">{{chowner_err_msg}}</div>
      <div class="panel panel-primary">

          <div class="panel-heading">
            <h3 class="panel-title">Change web site owner</h3>
          </div>
          <div class="panel-body">
              <div class="col-sm-2">
                  <label for="owner_web_name">Website</label>
                  <select id="owner_web_name" ng-model="owner_web_name" ng-options="web.name for web in websites | orderBy:'name'" class="form-control"></select>
              </div>
              <div class="col-sm-2">
                  <label for="owner_web_owner">Website owner</label>
                  <select ng-model="owner_web_owner" id="owner_web_owner" ng-model="owner_web_owner" ng-options="user.uid for user in users | orderBy:'uid'" class="form-control"></select>
              </div>
              <div class="col-sm-1">
                  <label style="opacity: 0;">Modify</label>
                  <button type="button" class="btn btn-default" ng-click="change_owner()" class="form-control">Modify</button>
              </div>
          </div>
    </div>
</div>
