<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Congratulation</h2>
        </div>
        <div class="panel-body">
            <p>Your account creation has been taken into account.</p>
            <br>
            <p>You will receive an email soon to <b>confirm your email address</b>.</p>
            <p style='color: red'><b> Please check your email and your spam folder ! </b></p
            <br>
            <p>Once confirmed, {{config.name}} administrators will <b>manually validate</b> your account.</p>
        </div>
    </div>
</div>
