* * * * * root /opt/gomngr.sh /opt/my/scripts http://my-app:3000 >> /var/log/cron.log 2>&1
# 0 3 1 * * root cd /root/genouestaccountmanager && /usr/local/bin/node /root/genouestaccountmanager/cron/test_expiration.js >> /var/log/cron.log 2>&1
# 0 3 2 * * root cd /root/genouestaccountmanager && /usr/local/bin/node /root/genouestaccountmanager/cron/expire.js >> /var/log/cron.log 2>&1
# 0 5 * * * root cd /root/genouestaccountmanager && /usr/local/bin/node /root/genouestaccountmanager/cron/reservation_create.js >> /var/log/cron.log 2>&1
# 0 6 * * * root cd /root/genouestaccountmanager && /usr/local/bin/node /root/genouestaccountmanager/cron/reservation_remove.js >> /var/log/cron.log 2>&1
0 3 1 * * root /opt/crontask.sh test_expiration >> /var/log/cron.log 2>&1
0 3 2 * * root /opt/crontask.sh expire >> /var/log/cron.log 2>&1
0 5 * * * root /opt/crontask.sh reservation_create >> /var/log/cron.log 2>&1
0 6 * * * root /opt/crontask.sh reservation_remove >> /var/log/cron.log 2>&1

# empty line
