<div class="row">
    <div class="col-md-6">
        <div class="card bg-light">
            <div class="card-header bg-warning">
                <h3>Pending email approval [{{pending_email_users.length}}]</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive table-striped">
                        <p-table #dt1 [value]="pending_email_users">
                            <ng-template pTemplate="header">
                                <th>UID</th><th>Uid number</th><th>Email</th><!--th>Status</th--><th>Expiration</th>
                            </ng-template>
                            <ng-template pTemplate="body" let-user>
                            <tr>
                                <td><a routerLink="/user/{{user.uid}}"><span class="label label-warning">{{user.uid}}</span></a></td>
                                <td>{{user.uidnumber}}</td>
                                <td>{{user.email}}</td>
                                <td>{{date_convert(user.expiration)}}</td>
                            </tr>
                            </ng-template>
                        </p-table>
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card bg-light">
            <div class="card-header bg-warning">
                <h3>Pending admin approval [{{pending_approval_users.length}}]</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive table-striped">
                        <p-table #dt2 [value]="pending_approval_users">
                            <ng-template pTemplate="header">
                                <th>UID</th><th>Uid number</th><th>Email</th><!--th>Status</th--><th>Expiration</th>
                            </ng-template>
                            <ng-template pTemplate="body" let-user>
                            <tr>
                                <td><a routerLink="/user/{{user.uid}}"><span class="label label-warning">{{user.uid}}</span></a></td>
                                <td>{{user.uidnumber}}</td>
                                <td>{{user.email}}</td>
                                <td>{{date_convert(user.expiration)}}</td>
                            </tr>
                            </ng-template>
                        </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card bg-light">
        <div class="card-header">
            <h3>Active [{{active_users.length}}]</h3>
        </div>
        <div class="card-body">
             <div class="table-responsive table-striped">
                        <p-table #dt3 [value]="active_users"
                                    [paginator]="true"
                                    [rows]="10"
                                    [showCurrentPageReport]="true"
                                    [rowsPerPageOptions]="[10,25,50]"
                                    [globalFilterFields]="['name', 'uid', 'email', 'uidnumber']"
                                    [filterDelay]="0"
                        >
                        <ng-template pTemplate="caption">
                            <div class="table-header">
                                <span class="p-input-icon-right">
                                    <i class="pi pi-search"></i>
                                    <input pInputText id="search_active_users" type="text" (input)="dt3.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                                </span>
                            </div>
                        </ng-template>
                            <ng-template pTemplate="header">
                                <th>UID</th><th>Uid number</th><th>Email</th><!--th>Status</th--><th>Expiration</th>
                            </ng-template>
                            <ng-template pTemplate="body" let-user>
                            <tr>
                                <td><a routerLink="/user/{{user.uid}}"><span class="label label-primary">{{user.uid}}</span></a></td>
                                <td>{{user.uidnumber}}</td>
                                <td>{{user.email}}</td>
                                <td>{{date_convert(user.expiration)}}</td>
                            </tr>
                            </ng-template>
                        </p-table>
                </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card bg-light">
        <div class="card-header bg-danger">
            <h3>Expired [{{expired_users.length}}]</h3>
        </div>
        <div class="card-body">
             <div class="table-responsive table-striped">
                        <p-table #dt4 [value]="expired_users"
                                    [paginator]="true"
                                    [rows]="10"
                                    [showCurrentPageReport]="true"
                                    [rowsPerPageOptions]="[10,25,50]"
                                    [globalFilterFields]="['name', 'uid', 'email', 'uidnumber']"
                                    [filterDelay]="0"
                        >
                        <ng-template pTemplate="caption">
                            <div class="table-header">
                                <span class="p-input-icon-right">
                                    <i class="pi pi-search"></i>
                                    <input pInputText id="search_expired_users" type="text" (input)="dt4.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                                </span>
                            </div>
                        </ng-template>
                            <ng-template pTemplate="header">
                                <th>UID</th><th>Uid number</th><th>Email</th><!--th>Status</th--><th>Expiration</th>
                            </ng-template>
                            <ng-template pTemplate="body" let-user>
                            <tr>
                                <td><a routerLink="/user/{{user.uid}}"><span class="label label-danger">{{user.uid}}</span></a></td>
                                <td>{{user.uidnumber}}</td>
                                <td>{{user.email}}</td>
                                <td>{{date_convert(user.expiration)}}</td>
                            </tr>
                            </ng-template>
                        </p-table>
                </div>
        </div>
    </div>
  </div>
</div>
