<div class="col-sm-6">
	<a routerLink="/admin/group" class="btn btn-primary">Back to groups</a>
</div>

<div class="card bg-light card-header">
	<div class="row">
		<div class="col-sm-9">
			<h4>
				Group <strong>{{ group.name }}</strong>
			</h4>
		</div>
		<div class="col-sm-3">
			<app-my-delete-confirm [onConfirm]="deleteGroup"></app-my-delete-confirm>
		</div>
	</div>
</div>

<div class="card bg-light">
	<div class="card-header">
		<h3>Group tags</h3>
	</div>
	<div class="card-body">
		<app-tag [tag]="group.tags" [user]="group.name" kind="group"></app-tag>
	</div>
</div>

<div class="card bg-light">
	<div class="card-header">
		<h3>Users in {{ group.name }}</h3>
	</div>
	<div class="card-body">
		<div class="alert alert-danger" *ngIf="err_msg">{{ rm_grp_err_msg }}</div>
		<div class="alert alert-info" *ngIf="msg">{{ msg }}</div>
		<form role="form" class="user-form form-horizontal form-register">
			<div class="form-group">
				<label for="group_id" class="col-sm-2 col-form-label">Owner</label>
				<div class="col-sm-3">
					<input
						placeholder="Owner"
						id="group_id"
						type="text"
						[ngModelOptions]="{ standalone: true }"
						[(ngModel)]="group.owner"
						class="form-control"
					/>
				</div>
				<label for="group_desc" class="col-sm-2 col-form-label">
					Description
				</label>
				<div class="col-sm-6">
					<input
						placeholder="Description"
						id="group_desc"
						type="text"
						[ngModelOptions]="{ standalone: true }"
						[(ngModel)]="group.description"
						class="form-control"
					/>
				</div>
				<button
					type="button"
					class="p-button p-button-sm p-button-secondary"
					(click)="updateGroup()"
				>
					Update
				</button>
			</div>
			<div class="form-group"></div>
		</form>
	</div>
</div>

<div class="card bg-light">
	<div class="card-header">
		<h3>Projects associated with {{ group.name }} :</h3>
	</div>
	<div class="card-body">
		<div class="table">
			<table class="table table-striped">
				<thead>
					<th>Project</th>
					<th>Owner</th>
				</thead>
				<tbody>
					<tr *ngFor="let project of projects">
						<td>{{ project.id }}</td>
						<td>{{ project.owner }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="card bg-light">
	<div class="card-header">
		<h3>Members of {{ group.name }} :</h3>
	</div>
	<div class="card-body">
		<div class="table-responsive table-striped">
			<p-table
				#dtu
				[value]="users"
				[paginator]="true"
				[rows]="10"
				[showCurrentPageReport]="true"
				[rowsPerPageOptions]="[10, 25, 50]"
			>
				<ng-template pTemplate="header">
					<tr>
						<th>User</th>
						<th>Email</th>
						<th>In associated project?</th>
						<th>Main group?</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-user>
					<tr>
						<td>
							<a routerLink="/user/{{ user.uid }}">
								<span class="p-button p-button-sm p-button-primary">
									{{ user.uid }}
								</span>
							</a>
						</td>
						<td>{{ user.email }}</td>
						<td><span *ngIf="user.temp?.authorized">x</span></td>
						<td><span *ngIf="user.group == group.name">x</span></td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>
