


    <div class="label label-primary">{{msg}}</div>
    <div class="card bg-light">
      <div class="card-header">
        <h3>Change web site owner</h3>
      </div>
      <div class="card-body">
          <div class='table-responsive'>
              <table id="dtWeb" datatable [dtTrigger]="dtTrigger" class="table table-striped">
                <thead><tr>
                  <th>Name</th>
                  <th>Owner</th>
                  <th>URL</th>
                  <th>Description</th>
                  <th></th>
                </tr></thead>
                <tbody>
                  <tr *ngFor="let web of websites">
                    <td><span class="label label-primary">{{web.name}}</span></td>
                    <td><a [routerLink]="['/user', {id: web.owner}]"><span class="label label-primary">{{web.owner}}</span></a></td>
                    <td>{{web.url}}</td>
                    <td>{{web.description}}</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>

    <div class="alert alert-success" *ngIf="chowner_msg">{{chowner_msg}}</div>
    <div class="alert alert-danger" *ngIf="chowner_err_msg">{{chowner_err_msg}}</div>

      <div class="card bg-light">

          <div class="card-header">
            <h3>Change web site owner</h3>
          </div>
          <div class="card-body">
              <div class="col-sm-2">
                  <label for="owner_web_name">Website</label>
                  <select id="owner_web_name" [ngModelOptions]="{standalone: true}" [(ngModel)]="owner_web_name" class="form-control">
                    <option *ngFor="let web of websites" [value]="web">{{web.name}}</option>
                  </select>
              </div>
              <div class="col-sm-2">
                  <label for="owner_web_owner">Website owner</label>
                  <select [ngModelOptions]="{standalone: true}" [(ngModel)]="owner_web_owner" id="owner_web_owner" class="form-control">
                      <option *ngFor="let user of users" [value]="user">{{user.uid}}</option>
                  </select>
              </div>
              <div class="col-sm-2">
                  <label style="opacity: 0;">Modify</label>
                  <button type="button" class="btn btn-secondary" (click)="change_owner()" class="form-control">Modify</button>
              </div>
          </div>
    </div>


